$HIsvg:polygon(39.08% 19.37%, 31.01% 19.37%, 31% 37.75% ),
polygon(22.9% 37.75%, 31% 37.75%, 26.93% 28.52% ),
polygon(39.06% 37.77%, 39.08% 19.37%, 35.05% 28.52% ),
polygon(26.94% 46.95%, 31% 37.75%, 26.93% 37.75% ),
polygon(22.9% 37.75%, 26.94% 46.95%, 26.93% 37.75% ),
polygon(31% 37.75%, 31.01% 19.37%, 22.9% 19.37% ),
polygon(43.16% 28.72%, 39.08% 19.37%, 39.06% 37.77% ),
polygon(47.17% 37.8%, 43.16% 28.72%, 39.06% 37.77% ),
polygon(31% 37.75%, 35.04% 46.98%, 35.04% 37.75% ),
polygon(18.81% 46.93%, 22.9% 56.22%, 22.9% 37.75% ),
polygon(14.8% 37.8%, 18.81% 46.93%, 22.9% 37.75% ),
polygon(26.93% 28.52%, 22.9% 19.37%, 22.9% 37.75% ),
polygon(35.04% 46.98%, 39.06% 37.77%, 35.04% 37.75% ),
polygon(31% 37.75%, 39.06% 37.77%, 35.05% 28.52% ),
polygon(22.9% 56.22%, 31.01% 56.18%, 31% 37.75% ),
polygon(31% 37.75%, 31.01% 56.18%, 39.08% 56.22% ),
polygon(18.89% 28.5%, 14.8% 37.8%, 22.9% 37.75% ),
polygon(39.08% 56.22%, 43.15% 46.93%, 39.06% 37.77% ),
polygon(22.9% 19.37%, 18.89% 28.5%, 22.9% 37.75% ),
polygon(39.06% 37.77%, 43.15% 46.93%, 47.17% 37.8% ),
polygon(22.9% 37.75%, 22.9% 56.22%, 26.94% 46.95% ),
polygon(35.04% 46.98%, 39.08% 56.22%, 39.06% 37.77% );
// 22 triangle
$HIsvg2:polygon(0% 26.72%, 7.25% 30.65%, 7.25% 23.43% ),
polygon(7.29% 3.33%, 0% 3.33%, 7.25% 23.43% ),
polygon(0% 3.33%, 0% 26.72%, 7.25% 23.43% ),
polygon(7.25% 23.43%, 7.25% 30.65%, 14.68% 27.05% ),
polygon(22.11% 23.43%, 7.25% 23.43%, 14.68% 27.05% ),
polygon(29.33% 50.07%, 29.36% 26.7%, 22.08% 30.65% ),
polygon(22.08% 50.07%, 29.33% 50.07%, 22.08% 30.65% ),
polygon(0% 50.07%, 7.25% 30.65%, 0% 26.72% ),
polygon(7.29% 50.07%, 7.25% 30.65%, 0% 50.07% ),
polygon(14.68% 27.05%, 22.08% 30.65%, 22.11% 23.43% ),
polygon(7.25% 30.65%, 22.08% 30.65%, 14.68% 27.05% ),
polygon(22.11% 23.43%, 29.36% 26.7%, 29.35% 3.33% ),
polygon(22.08% 3.33%, 22.11% 23.43%, 29.35% 3.33% ),
polygon(22.08% 30.65%, 29.36% 26.7%, 22.11% 23.43% ),
polygon(43.15% 7%, 43.15% 0%, 39.51% 3.5% ),
polygon(43.15% 0%, 35.89% 0%, 39.51% 3.5% ),
polygon(35.89% 7%, 43.15% 7%, 39.51% 3.5% ),
polygon(39.51% 3.5%, 35.89% 0%, 35.89% 7% ),
polygon(43.15% 15.33%, 35.89% 15.33%, 39.51% 32.7% ),
polygon(39.51% 32.7%, 43.15% 50.05%, 43.15% 15.33% ),
polygon(35.89% 15.33%, 35.89% 50.05%, 39.51% 32.7% ),
polygon(35.89% 50.05%, 43.15% 50.05%, 39.51% 32.7% );

$color:43;

@for $i from 1 through 22{
  .t#{$i}{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    clip-path:  nth($HIsvg,$i);
    background: radial-gradient(hsl(43-$i, 62%, 52%), hsl(43-$i, 92%, 42%));
    transition: 2s ease;
    animation: colorAnim#{$i};
    animation-duration: 5s;
    animation-direction:alternate;
    animation-iteration-count:infinite;

  }
}
.effect-box:hover{
  @for $i from 1 through 22 {
    .t#{$i}{
      clip-path: nth($HIsvg2,$i);
      background-color: hsl(43+$i, 92%, 42%);
      transition: 2s ease-in-out;
      filter: hue-rotate(90deg);
      animation: colorAnim#{$i};
      animation-duration: 5s;
      animation-direction:alternate;
      animation-iteration-count:infinite;

    }
  }
}
@for $i from 1 through 22 {
  @keyframes colorAnim#{$i} {
    from{
      filter: hue-rotate(0deg)
    }
    to{
      filter: hue-rotate(#{$i*25}deg);
    }
  }
}

